<p>
  <strong>Name:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p><br>
 
<p>
  <%= link_to 'Delete', [comment.waterfall, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p><br>