<p>
  <strong>Name:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p><br>
 
<p>
  <% if admin_signed_in? %>
  		<%= link_to 'Delete', [comment.waterfall, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
	<% end %>
</p><br>