
body {
  background-image: url("../images/water_background.jpg");
  background-size: cover;
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  line-height: 18px;
}



.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.big-picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

h1 {
text-align: center;
font-weight: bold;
}

a:hover {
	color: white;
	text-decoration: none;
}

.data-confirm {
	margin: 20px;
}

.video {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	max-width: 900px;
}

.block {
	width: 150px;
	height: 400px;
	display: inline-block;
	margin-right: -5px;
	vertical-align: top;
}
#one {
	background-color: #000033;
}
#two {
	background-color: #007FFF;
}
#three {
	background-color: #0147FA;
}
#four {
	background-color: #00C5CD;
}
#five {
	background-color: #1B3F8B;
}
#six {
	background-color: #42C0FB;
}

#one-pic, #two-pic, #three-pic, #four-pic, #five-pic, #six-pic {
	z-index: 4;
}

#seven-pic, #eight-pic, #nine-pic, #ten-pic, #eleven-pic, #twelve-pic {
	z-index: 8;
}

#thirteen-pic, #fourteen-pic, #fifteen-pic, #sixteen-pic, #seventeen-pic, #eighteen-pic {
	z-index: 12;
}

#nineteen-pic, #twenty-pic, #twentyone-pic, #twentytwo-pic, #twentythree-pic, #twentyfour-pic {
	z-index: 16;
}

