@media (min-width: 768px) {
  .other {
    display: block;
  }

  .waterfall-title {
    text-align: left;
  }

  h4, h5 {
    font-size: 12px;
  }
  
  #navbar {
		display: inline-block!important;
	}
}

@media (min-width: 1000px) {	
	.video {
		display: block;	
	}
	.mobile {
		display: none;	
	}
}



	