<div class="container" style="padding-bottom: 100px">
	<div class="row">
		<%= image_tag "mobile.jpg", class: "img-responsive mobile"%>
		<div class="video">
			<div id="one" class="block"></div>
			<div id="two" class="block"></div>
			<div id="three" class="block"></div>
			<div id="four" class="block"></div>
			<div id="five"class="block" ></div>
			<div id="six" class="block"></div>
		</div>
	</div>
</div>
	



