// Place all the styles related to the waterfalls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comments {
	border-top: 1px solid black;
}

.waterfall-title {
color: black;

}
.description {
	color: white;
}

.jumbotron {
	color: black;
}

.page {
	padding: 30px;
	margin: 20px;
}

.row {
	border-bottom: 1px solid black;
}

.form {
	margin-left: 20px;

}